root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true


[{Makefile, *.sh}]
indent_style = tab

# Trailing spaces in markdown indicate word wrap
[{*.markdown,*.md}]
trim_trailing_spaces = false
max_line_length = 80
