name: docs

on:
  push:
    branches:
      - master

env:
  nim-version: stable
  nim-src: waku/v2/node/wakunode2.nim
  deploy-dir: .gh-pages

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: ${{ env.nim-version }}
      - run: nimble doc --index:on --project --out:${{ env.deploy-dir }} ${{ env.nim-src }}
      - name: Deploy documents
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.deploy-dir }}